* {
    /* text-align: center; */
    font-size: 15px;
    color: rgb(154, 48, 174);
}

#wrap {
    width: 1100px;
    height: auto;
    /* height: 832px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

#logo {
    width: 350px;
    height: 87.5px;
    position: relative;
    /* top: 0px; */
    margin: 0 auto;
    margin-top: 20px;
}

#logoImg {
    width: 350px;
    height: 87.5px;            
}

/* #menu {
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
    margin-left: -400px;
}

li {
    list-style: none;
    color: rgb(154, 48, 174);
    font-size: 20px;
    float: left;
    line-height: 30px;
    margin-right: 50px;
} */

#channels {
    width: 100%;
    height: auto;
    /* height: 800px; */
    margin-top: 50px;
    /* border: 1px solid black; */
    /* overflow-y: scroll; */
}

#resultchannels {
    width: 100%;
    height: auto;
    /* height: 550px; */
    /* border: 1px solid black; */
    /* overflow-y: scroll; */
}

.radioBroadcast {
    width: 100%;
    height: 200px;
    background-color: rgba(223, 207, 244, 0.2);
    position: relative;
    margin-bottom: 30px;
    display: flex;
}

.radioBroadcastName {
    text-align: center;
    font-weight: bolder;
    color: rgb(154, 48, 174);
    font-size: 30px;
    line-height: 40px;
    background-color: rgb(224, 191, 230);
    width: 170px;
    height: 40px;
    position: absolute;
    top: -20px;
    left: 10px;
}

.content {
    width: 180px;
    height: 160px;
    /* border: 1px solid black; */
    /* position: absolute; */
    /* top: 30px; */
    /* left: 10px; */
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 30px;
}

.cover_back {
    width: 135px;
    height: 135px;
    background-color: rgb(176, 151, 112);
    position: relative;
}

.cover {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -62.5px 0 0 -62.5px;
}

.imgControl {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.like {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 7px;
    right: 7px;
}

.lp {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 2px;
    right: -40px;
}

.program_name {
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: rgb(154, 48, 174);
    margin-top: 10px;
    text-align: left;
}

.listenerInfo {
    background-color: rgba(223, 207, 244, 0.2);
    margin-top: 15px;
    color:rgb(154, 48, 174);
    width: 1000px;
    height: 20px;
    line-height: 20px;
}

#searchOptionBox {
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    margin-top: 60px;
    text-align: center;
}

#searchInput {
    width: 90%;
    height: 30px;
    transition: height 0.4s;
    line-height: 25px;
    margin-top: 7px;
    border: 1px solid rgb(154, 48, 174);
    border-radius: 10px;
    padding-left: 10px;
    color: rgb(48, 0, 74); /* 원하는 입력 텍스트 색상을 지정합니다. */
    font-size: 16px; /* 원하는 입력 텍스트 크기를 지정합니다. */
}
#searchInput:focus {
    height: 45px; /* 활성화되면 크기가 커지는 스타일을 정의합니다. */
}

#resultTextTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    /* border: 1px solid black; */
    margin-top: 20px;
    display: none;
}

#resultContainer {
    width: 100%;
    height: auto;
    /* height: 1000px; */
    /* border: 1px solid green;  */
    display: none;
    justify-content : center;
    padding-top: 40px;
}

.check {
    width: 25px;
    height: 25px;
    accent-color: rgb(154, 48, 174);
}

/* #searchOption {
    font-weight: 550;
    text-align: center;
    margin: 0 auto;
} */

::placeholder {
    color: rgb(154, 48, 174);
}

button {
    font-weight: 550;
    background-color: rgb(224, 191, 230);
    border: 1px solid rgb(154, 48, 174);
    border-radius: 5px;
    width: 50px;
    height: 30px;
    /* background-image: url("C:\Users\JINJIWON\VisualRadio\VisualRadio\static\images\searchButton.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

button {
    font-weight: 550;
    background-color: rgb(224, 191, 230);
    border: 1px solid rgb(154, 48, 174);
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

#searchButton {
    transition: height 0.4s;
}