* {
    text-align: center;
    font-size: 15px;
}

body {
    background-color: rgba(223, 207, 244, 0.2);
<<<<<<< HEAD
    background-image: url("/static/images/sub2_backgroundImage.png");
=======
    background-image: url("../images/sub2_backgroundImage.png");
>>>>>>> a1d64a4e66d6a457e1e65e315d1dea1d134efb84
    background-size: 1400px 1400px;
    background-position: center center;
    background-repeat: no-repeat;
}

#wrap {
    width: 1100px;
    height: 832px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

#logo {
    width: 350px;
    height: 87.5px;
    position: relative;
    top: 0px;
    margin: 0 auto;
}

#logoImg {
    width: 350px;
    height: 87.5px;            
}

.data {
    width: 100%;
    height: 40px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 10px;
}

#info {
    width: 35%;
    height: 40px;
    text-align: left;
    float: left;
    /* border: 1px dashed black; */
    margin-left: 25px;
    color: rgb(154, 48, 174);
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

.search {
    position: relative;
    width: 284px;
    height: 40px;
    float: right;
    margin-right: 40px;
}
      
#searchBar {
    width: 250px;
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(154, 48, 174, 0.7);
    border-radius: 50px;
    background-color: white;
    color: rgb(154, 48, 174);
}
      
#searchButton {
    position : absolute;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 2px;
    line-height: 40px;
}

.episode {
    width: 100%;
    height: 550px;
}

#section1, #section2 {
    float: left;
    width: 50%;
    height: 550px;
    position: relative;
    background-color: white;
    border-radius: 30px;
}

#imgContainer, #subtitleContainer {
    width: 450px;
    height: 450px;
    /* border: 1px dashed black; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -225px;
}

#index {
    width: 70px;
    height: 450px;
    position: absolute;
    top: 50%;
    right: -35px;
    margin: -225px 0 0 0;
}

#main_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#subtitleContainer {
    overflow-y: scroll;
}

#part1, #part2 {
    width: 70px;
    height: 70px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 100px;
    margin-bottom: 0;
    margin-top: -15px;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(154, 48, 174);
    width: 0%;
    transition: width 0.1s ease-in-out;
}

p {
    margin-top: 20px;
    color: rgb(154, 48, 174);
    font-size: 25px;
    font-weight: bold;
}

#currentTime, #duration {
    display: inline;
}

#play-pause-btn {
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: -30px;
    margin-bottom: 5px;
}

.btn {
    width: 30px;
    height: 30px;
    object-fit: cover;
}