<!DOCTYPE html>
<html>
<head>
   <title>관리자 페이지</title>
   <link rel="stylesheet" href="admin.css">
    <script>
      function submitForm() {
         var form = document.getElementById("broadcast_form");
         var formData = new FormData(form);
         var xhr = new XMLHttpRequest();
         xhr.open("POST", "/admin-update");
         xhr.send(formData);
      }
   </script>
</head>
<body>
   <div id = "wrap">
      <a href="/">
         <div id = "logo">
            <img id = "logoImg" src="logo.png">
         </div>
      </a>
      <div id = "info">방송 정보 입력</div>
      <form id="broadcast_form" enctype="multipart/form-data" method="POST">
         <table>
            <tr>
               <td id = "st"><label for="broadcast">방송사</label></td>
               <td id = "nd"><input id="input" type="text" id="broadcast" name="broadcast" size="20"></td>
            </tr>
            <tr>
               <td id = "st"><label for="program_name">프로그램 이름</label></td>
               <td id = "nd"><input id="input" type="text" id="program_name" name="program_name" size="20"></td>
            </tr>
            <tr>
               <td id = "st"><label for="program_info">프로그램 정보</label></td>
               <td id = "nd"><input id="input" type="text" id="program_info" name="program_info" size="20"></td>
            </tr>
            <tr>
               <td id = "st"><label for="date">날짜</label></td>
               <td id = "nd"><input id="input" type="date" id="date" name="date"></td>
            </tr>
            <tr>
               <td id = "st"><label for="guest_info">게스트 정보</label></td>
               <td id = "nd"><input id="input" type="text" id="guest_info" name="guest_info" size="20"></td>
            </tr>
            <tr>
               <td id = "st"><label for="audio_file">음성 파일</label></td>
               <td id = "nd"><input type="file" id="audio_file" name="audio_file" size="20"></td>
            </tr>
         </table>
         <button type="button" onclick="submitForm()">제출</button>
      </form>
      <a href="/" id = "home">홈으로 돌아가기</a>
   </div>
</body>
</html>