<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RADIO_MAIN</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="module" src="/static/js/cookie.js"></script>
    <script type="module" src="/static/js/main.js"></script>
</head>
<body>
    <div id = "wrap">
        <div id = "header">
            <a href="/">
                <div id = "logo">
                    <img id = "logoImg" src="/static/images/logo.png">
                </div>
            </a>
            <div id = "menu">
                <ul>
                    <a href="/search"><li id = "search">검색</li></a>
                    <li id = "rank">인기순위</li>
                    <li id = "myPick">내가 찜한 컨텐츠</li>
                </ul>
            </div>
        </div>
        <div id = "channels"></div>
    </div>
</body>
</html>