<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RADIO_MAIN</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="module" src="/static/js/cookie.js"></script>
    <script type="module" src="/static/js/main.js"></script>
</head>
<body>
    <div id = "wrap">
        <div id = "header">
            <a href="/">
                <div id = "logo">
                    <img id = "logoImg" src="/static/images/logo.png">
                </div>
            </a>
            <!-- <div id = "menu">
                <ul>
                    <a href="/search"><li id = "search">검색</li></a>
                    <li id = "rank">인기순위</li>
                    <li id = "myPick">내가 찜한 컨텐츠</li>
                </ul>
            </div> -->
        </div>
        <div id="searchOptionBox">
            <!-- <table id = "searchOption">
              <tr>
                <td><input type="radio" name="searchOption" value="program" class = "check" checked></td>
                <td><label for="program">프로그램 찾기</label></td>
                <td><input type="radio" name="searchOption" value="listener" class = "check"></td>
                <td><label for="listener">청취자 찾기</label></td>
              </tr>
            </table>     -->
            <form id="searchForm">
              <input type="text" id="searchInput" placeholder="| 흘러간 소리를 검색해보세요!" size="120">
              <button type="submit" id="searchButton">검색</button>
            </form>
        </div>
        <div id="resultTextTitle"></div>
        <div id="resultContainer">
            <br><br>
            <p id="resultText"></p>
            <div id = "result">
                <div id = "resultchannels"></div>
            </div>
        </div>
        <div id = "channels"></div>
    </div>
    <script type="module" src="/static/js/search.js"></script>
    <div id='goAdmin'>goAdmin!!!</div>
    <div id='goPrograms'>goPrograms!!</div>
</body>
</html>


<script>
    const searchInput = document.getElementById('searchInput');
    const searchButton = document.getElementById('searchButton');

    searchInput.addEventListener('focus', function() {
        searchButton.style.height = '45px'; // 활성화될 때 높이를 변경
    });

    searchInput.addEventListener('blur', function() {
        searchButton.style.height = '30px'; // 비활성화될 때 높이를 원래대로 복원
    });
</script>