* {
    text-align: center;
    font-size: 20px;
    color: rgb(154, 48, 174);
}

#sub1_wrap body {
    background-size: 1400px 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub1_wrap {
    width: 1100px;
    height: 832px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    /* border: 1px solid black; */
}

#sub1_wrap #logo {
    width: 350px;
    height: 87.5px;
    position: relative;
    top: 0px;
    margin: 0 auto;
    margin-bottom: -100px;
    /* border: 1px solid black; */
}

#sub1_wrap #logoImg {
    width: 350px;
    height: 87.5px;            
}

#sub1_wrap #content {
    width: 1100px;
    height: 700px;
    border: 3px solid rgb(224, 191, 230);
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub1_wrap #info {
    width: 480px;
    height: 550px;
    /* border: 1px solid black; */
    margin-right: 50px;
}

#sub1_wrap #image {
    width: 480px;
    height: 260px;
    margin-bottom: 30px;
    border-radius: 40px;
    /* border: 1px solid black; */
    position: relative;
}

#sub1_wrap #radioImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#sub1_wrap #radioInfo {
    width: 480px;
    height: 250px;
    /* line-height: 270px; */
    /* border: 1px solid black; */
}

#sub1_wrap #episode {
    width: 500px;
    height: 550px;
    /* border: 1px solid black; */
    border-radius: 40px;
    background-color: rgba(223, 207, 244, 0.2);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#sub1_wrap [className = 'calendar'] {
    margin: 0 auto;
}

#sub1_wrap td {
    width: 60px;
    height: 60px;
}

#sub1_wrap [className = 'calendar'] > thead > tr:first-child > td {
    font-weight: bold;
}

#sub1_wrap [className = 'day'] {
    background-image: url("./colorLp.png");
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
}

#sub1_wrap #imgControl {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sub1_wrap #like {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
}

#sub1_wrap #likecnt {
    width: 30px;
    height: 20px;
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin-top: -5px;
}